<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">


<dom-module id="datamanager-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <template is="dom-if" if="{{cargando}}">
      <paper-spinner active class="thick"></paper-spinner>
      <h2>Cargando</h2>
    </template>
    <ul>
      <template is="dom-repeat" items="{{handleResponse}}" as="usuario">
        <li>{{usuario.name}}</li>
      </template>
    </ul>
    <h2>{{handleResponse.name}}</h2>
    
    <iron-ajax
    auto
    url="https://jsonplaceholder.typicode.com/users/"
    handle-as="json"
    last-response="{{handleResponse}}">
    loading={{cargando}}
    </iron-ajax>

  </template>

  <script>
    /**
     * `datamanager-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DatamanagerElement extends Polymer.Element {
      static get is() { return 'datamanager-element'; }
      static get properties() {
        return {
          
          handleResponse: {
           type: Object,
           value: ()=>{
             return {}
           },
           observer: "_sucess"
         },
         cargando: {
           type:Boolean,
           value:true
         }
        };
      }
      _sucess(e){
       console.log(e.name);

     }
    }

    window.customElements.define(DatamanagerElement.is, DatamanagerElement);
  </script>
</dom-module>
